.container {
  width: 100dvw;
  height: 100dvh;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 2rem !important;
  background-color: var(--foregroundInverse200);
  position: relative;
  align-items: center;
  border-radius: 1rem;
}

.input {
  width: 25dvw !important;
  margin-top: 1rem;
}

.inputInside{
    height: 2.5rem;
}

.button {
  margin-top: 1rem !important;
}
