.container {
  width: 20svw;
  height: 100svh;
  background-color: var(--foregroundInverse);
  box-shadow: var(--shadow);
  align-items: center;
  position: relative;
}

.header {
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin-top: 1.5rem;
}

.tabs {
  width: 90%;
  align-items: center;
  margin-top: 1rem;
  padding-bottom: 0.775rem;
  border-bottom: 1px solid var(--foregroundInverse400);
}

.content {
  width: 90%;
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 1rem;
  align-items: center;
}
