.container {
  width: 95%;
  height: 100% !important;
  position: relative;
  justify-content: space-between;
}

.caption {
  margin-bottom: 1rem;
}

.buttons {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.styles {
  margin-bottom: 1rem;
}

.delete {
  width: 5rem !important;
  margin-bottom: 1rem !important;
}
